.d-none{
    display: none;
}

#upload{
    width: auto;
}

#upload .box{
    display: flex;

    box-sizing: border-box;
    height: 300px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
}

#upload .drop-zone{
    width: 600px;
    height: 100%;
    border-right: 1px solid gray;
    background: lightblue;
}

#upload .drop-zone.valide{
    background: lightgreen;
}

#upload .drop-zone.invalide{
    background: red;
}

#upload .file-list{
    background: yellow;
}